<% if logged_in? == false%>


<div class = "centered">

<%= render 'users/form'%>

</div>






<%else%>

<h3 class = "centered">Hello, <%=current_user.name%>!</h3>
<br/><br/>

<div id = "content_form_container">
	<%= render "contents/form" %>
</div>

<div id = "alarm">
	<h1 id = "alarm_time">8:00 AM</h1>	
</div>
<%= link_to "Set alarm", "#", :id => "set_alarm_link", :class => "btn btn-primary btn-large"%> 


<%if false%>
<br/> <br/> <%= link_to "Random Content", random_content_path, :id => "content", :class => "btn"%>
<%end%>

<%= audio_tag(audio_path("sun.mp3"), :autoplay => false, :controls => false, :id => "alarm_audio")%>

<%end%>
