<% unless logged_in? %>


<div class = "centered">

<%= render 'users/form'%>

</div>
<script>
function startTime()
{
var today=new Date();
var h=today.getHours();
var m=today.getMinutes();
var s=today.getSeconds();
// add a zero in front of numbers<10
m=checkTime(m);
s=checkTime(s);
document.getElementById('txt').innerHTML=h+":"+m+":"+s;
t=setTimeout(function(){startTime()},500);
}

function checkTime(i)
{
if (i<10)
  {
  i="0" + i;
  }
return i;
}



</script>





<%else%>

<h3 class = "centered">Hello, <%=current_user.name%>!</h3>
<br/><br/>

<%= render "contents/form" %>

<div id = "alarm">
	<h1 id = "alarm_time">8:00 AM</h1>	
</div>
<%= link_to "Set alarm", "#", :id => "set_alarm_link", :class => "btn btn-primary btn-large"%> 


<%if false%>
<br/> <br/> <%= link_to "Random Content", random_content_path, :id => "content", :class => "btn"%>
<%end%>

<%= audio_tag(audio_path("sun.mp3"), :autoplay => false, :controls => false, :id => "alarm_audio")%>

<%end%>
