<%= form_tag login_path, :class => "centered", :id => "new_session", :remote => true do %>
  
  <div class="field">
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= password_field_tag :password_hash %>
  </div>
  <div class="actions">
    <%= submit_tag 'Login', :id => "login_btn", :class => "btn btn-success btn-large btn-form" %> 
  </div>
	
	<br/>
	<%= link_to "Register", root_path, :remote => true, :class => "btn"%>  <br/>
	
	<%= link_to "Login with Facebook", "#", :id => "facebook_login_link"%>
	
	
	<script>
  		$('#email').watermark("Email");
  		$('#password_hash').watermark("Password");
	</script>
	
	
	
<% end %>


