

<p>
  <b>Title:</b>
  <%= @content.title %>
</p>

<%unless @content.group == nil%>
<p>
  <b>Group:</b>
  <%= @content.group.name %>
</p>
<%end%>

<p>
  <b>User:</b>
  <%= @content.user.name%>
</p>

<%if @content.content_file_file_size != nil%>
<p>
  Content:</br>
	<%if /image/.match(@content.content_file_content_type) %>
		<%= image_tag @content.content_file_url,  :class => "content_image", :id => "content_image"%>
	<%elsif /text/.match(@content.content_file_content_type)%>
		<%= @content.content_file %>
	<%end%>
	

</p>
<%end%>

<%if false%>
<script>
	var source = $('#content_image').attr("src");
	var insert_position = source.search("s3")+2;
	var src = "http://s3-us-west-2"+source.slice(insert_position);
	$('#content_image').attr("src", src);
</script>
<%end%>

<%if current_user.id == @content.user_id%>
<%= link_to 'Delete', content_path(@content.id), :method => :delete, :data => {:confirm => "Are you sure?"} %> 
<%end%>
